<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kings Todo List App::</title>
    <link rel='stylesheet' href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
   
</head>

<body>
    <header>
        <h1 class="heading">Kings TodoList App::</h1>
    </header>
    <main class="container home">
        <h2>Create A Todo List By Clicking The Button Below</h2>
        <a href="/auth/login" id="login-btn"> <i class="fab fa-microsoft"></i> Login </a>    
    </main>
    <!-- <h1>Create A Todo List By Clicking The Button Below</h1>
    <a href="/auth/login"> New Todo List</a> -->
</body>
</html>